@model Common.UI.IDisplayEntry

<div class="row">
    <article class="col-lg-10 col-md-8 mx-auto">
        <section class="entry">
            <section id="entry-header">
                <h3>
                    <p>
                    @Html.DisplayFor(model => model.Entry.Title, "UpperFirstSign")
                    </p></h3>
            </section>

            <section id="entry-body">
                <p>
                    @Html.DisplayFor(model => model.Entry.Body, "DisplayHtml")  
                </p>
            </section>

            <section id="entry-footer">
                <p align="right">
                    @Html.DisplayFor(model => model.Entry.Timestamp, "DateTime")
                </p>
            </section>

            <section id="add-comment">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                @{
                    Html.RenderAction("Create", "Comment", Model.NewComment);
                }
            </section>

            <br /><hr />

            <section id="comments">
                @{
                    Html.RenderPartial("~/Views/Comment/Comments.cshtml", Model.Entry.Comments);
                }
            </section>

            <p>
                @Html.ActionLink("Back to List", "Index", "Home")
            </p>
        </section>
    </article>
</div>