@model Common.UI.IDisplayEntry

@{
    ViewBag.Title = "Umysł zamknięty";
    ViewBag.BgImage = @"../../img/logo.jpg";
    ViewBag.SubTitle = "Whatever you're thinking, think bigger";
    ViewBag.SubHeading = "Tony Hsieh";
}

<div class="row">
    <article class="col-lg-10 col-md-8 mx-auto">


        <div class="row">
            <section class="entry">
                <section id="entry-header">
                    <h3>@Html.DisplayFor(model => model.Entry.Title, "UpperFirstSign")</h3>
                </section>
                <p>
                    @Html.DisplayFor(model => model.Entry.Body, "UpperFirstSign")
                </p>

                <section id="entry-footer">
                    <p align="right">@Html.DisplayFor(model => model.Entry.Timestamp, "UpperDateFirstSign")</p>
                </section>
            </section>
        </div>
        <section class="add-comment">
            @Html.ValidationSummary(false, "", new {@class = "text-danger"})
            @{
                Html.RenderAction("Create", "Comment", Model.NewComment);
            }
        </section>

        <br/><hr/>
        <div class="row">
            <section class="comments">
                @{
                    Html.RenderPartial("~/Views/Comment/Comments.cshtml", Model.Entry.Comments);
                }
            </section>
        </div>
        <p>
            @Html.ActionLink("Back to List", "Index", "Home")
        </p>
    </article>
</div>